/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/* Specify in CSS */
* { font-family: 'Fira Code', monospace; }

body {
    margin: 0;
}

#console {
    background-color: black;
    width: 99vw;
    height: 95vh;
}

#console-input {
    background-color: black;
    width: 99vw;
    height: 4vh;
    resize: none;
    border-radius: 0;
    border: none;
    font-family: 'Fira Code', monospace;
    color: #fff;
}

#console-input:focus {
    border: none;
}